.loader {
    background-image: url("../../assets/loader.gif");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.movieBanner {
    margin: 15px;
    height: auto;
}

.movieBanner img {
    width: 100%;
    cursor: pointer;
}

.movieTitle {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 700;
}

.movieDate {
    font-style: italic;
    font-size: 12px;
}

.movieTitle span,
.movieDate span {
    cursor: pointer;
}