<div class="container">
    <div class="loader" *ngIf="movieData.length == 0"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2>Movie List</h2>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let _elem of movieData" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="movieBanner">
                <img src="https://image.tmdb.org/t/p/w500{{_elem.posterURL}}" (click)="onMovieSelect(_elem.slug, _elem._id)" />
                <div class="movieTitle text-center"><span (click)="onMovieSelect(_elem.slug, _elem._id)">{{_elem.title}}</span></div>
                <div class="movieDate text-center"><span (click)="onMovieSelect(_elem.slug, _elem._id)">{{_elem.releaseDate | date: 'mediumDate'}}</span></div>
            </div>
        </div>
    </div>
</div>